/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'K2D', sans-serif;
}

@font-face {
  font-family: 'Superspace';
  src: url('./assets/Superspace\ Bold\ ver\ 1.00.ttf');
}

// @font-face {
//   font-family: 'Chuanchiim';
//   src: url('./assets/Chuanchiim\ Bold\ ver\ 1.00.ttf');
// }

@font-face {
  font-family: 'Chuanchiim';
  src: url('./assets/chuanchiim_regular_v1-0.ttf');
}

// @font-face {
//   font-family: 'Chuanchiim';
//   src: url('./assets/MN\ Mu\ Sate\ Bold.ttf');
// }



// @font-face {
//   font-family: 'Chuanchiim';
//   font-style: normal;
  //   font-weight: normal;
  //   src: local('Chuanchiim'), url('./assets/Chuanchiim\ Regular\ ver\ 1.00.ttf')format('ttf');
// }

// @font-face {
//   font-family: 'Chuanchiim';
//   src: url('./assets/chuanchiim_regular_v1-0.ttf');
// }chuanchiim regular ver 1.00


@font-face {
  font-family: 'Chonburi';
  src: url('./assets/Chonburi-Regular.ttf');
}
