/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'K2D', sans-serif;
}

@font-face {
  font-family: 'Superspace';
  src: url('./assets/Superspace\ Bold\ ver\ 1.00.ttf');
}

@font-face {
  font-family: 'Chuanchiim';
  src: url('./assets/chuanchiim_regular_v1-0.ttf');
}

@font-face {
  font-family: 'Chonburi';
  src: url('./assets/Chonburi-Regular.ttf');
}
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '~@fortawesome/fontawesome-free/scss/solid.scss';
// @import '~@fortawesome/fontawesome-free/scss/regular.scss';
// @import '~@fortawesome/fontawesome-free/scss/brands.scss';
// @import "node_modules/bootstrap/scss/bootstrap";
// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
