<mat-card class="card">
  <mat-card-header style=" font-family: 'K2D', sans-serif;">
    <mat-card-title-group>
      <mat-card-title style="font-size: 24px;font-family: 'K2D', sans-serif;text-align: center;">
        สร้างรูปภาพสำเร็จ
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions style="padding: 10px;display: flex;justify-content:center;font-family: 'K2D', sans-serif;">

    <div class="row">


      <button mat-stroked-button style="width: 40px;" (click)="close()">
        Cancle
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<!--
                <div class="container">
                  <p>ยืนยันการสร้างรูปภาพ</p>
                  <br>
                  <button (click)="ok()">OK</button>
                  <button (click)="close()">Cancle</button>
</div> -->
