<div class="container" style="justify-content: center;display: flex;justify-items: center;">

  <mat-card
    style="padding: 10px; width: 400px;height: 450px; justify-content: center;display: flex;justify-items: center;background-color: rgb(240, 240, 240);margin-top: 10%;">

    <!-- <input type="text" name="" id="" [(ngModel)]="username"> <br>
  <input type="password" name="" id="" [(ngModel)]="password"> <br> -->
    <!-- <button (click)="login()">Login</button> -->
    <p style="text-align: center;font-size: 80px; margin-bottom: 70px;margin-top: 50px;">
      <!-- <img src="./../../../assets/img/m6-logo.png" alt="" width="200px" height="200px"> -->
      M6
    </p>
    <!-- <img src="./../../../assets/img/M6.png" alt="" width="200px" height="200px"> -->
    <p>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" [(ngModel)]="this.username">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>

        <!-- <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="this.password"> -->
        <input matInput placeholder="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="this.password">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <div style="display: flex;justify-content: center;">
      <button mat-raised-button style="width: 100px;color: rgb(240, 240, 240);background-color: rgb(42, 42, 42);"
        (click)="login()">Login</button>
    </div>
    <p style="text-align: center;margin-top: 20px;color: brown;">{{texError}}</p>
  </mat-card>

</div>

<div id="bottom-right">
  <img src="./../../../assets/img/L_gainfriends_2dbarcodes_GW.png" alt="" width="100px">
  <p style="text-align: center;">ติดต่อเรา</p>
</div>

<!-- <div id="container">
  <div id="bottom-right">
    bottom right
  </div>
  <div id="bottom-left">
    bottom left
  </div>
</div> -->
