<div class=".container-sm" id="container">
  <div class="row" style="margin-top: 50px;margin-left: 10px;">
    <div class="col-sm">
      <h1 style=" font-family: Superspace;">วันที่ {{currentDateTime}}</h1>
      <div style="display: flex;justify-content: center;width: 500px;" >
        <div *ngIf="!isShowG">
          <img id="imageQ" src={{imageuser}} alt="" width="500px" height="500px">
        </div>

        <div class="slider" style="width: 500px;height: 500px;" *ngIf="isShowG">
          <canvas *ngFor="let a of ALL1;index as i; trackBy:trackByFn" attr.id="canvas-{{i}}" width="500px"
            height="500px" (click)="onImageClick(i)">
          </canvas>
        </div>

        <!-- <div style="width: 500px;height: 500px;" *ngIf="isShowG">
          <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item *ngFor="let a of ALL1;index as i; trackBy:trackByFn">
              <canvas attr.id="canvas-{{i}}" width="500" height="500"></canvas>
            </mdb-carousel-item>
          </mdb-carousel>
        </div> -->
      </div>

      <div style="padding: 10px;width: 100%;">
        <hr>
        <section class="example-section" style="margin: 0px;font-family:K2D, sans-serif;">
          <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkALL()">
            <p style="font-family: K2D;margin: 0px;">Select All</p>
          </mat-checkbox>

        </section>
        <br>
        <div class="row" style="padding: 10px;">
          <button type="button" (click)="todateURL(ALL1)" class="btn btn-success"
            style="margin-top:0px;width: 100%;">Create
            Image</button>

          <button type="button" class="btn btn-outline-primary" style="margin-top: 0px;width: 100%;margin-top: 10px;"
            id="download" (click)="candown(ALL1)">
            Dowload
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm" style="display: contents;">
      <div class="row">
        <div class="col-sm">
          <p style="text-align: center;">รายวัน</p>
          <section class="example-section" *ngFor="let data of t1" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>

        <div class="col-sm">
          <p style="text-align: center;">หุ้น</p>
          <section class="example-section" *ngFor="let data of t2" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>

        <div class="col-sm">
          <p style="text-align: center;">VIP</p>
          <section class="example-section" *ngFor="let data of t3" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>
        <div class="col-sm">
          <p style="text-align: center;">ต่างประเทศ</p>
          <section class="example-section" *ngFor="let data of t4" style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>
        <div class="col-sm">
          <p style="text-align: center;">รัฐบาล</p>
          <section class="example-section" *ngFor="let data of t5 let i = index"
            style="margin: 0px;font-family:K2D, sans-serif;">
            <mat-checkbox class="example-margin" [disabled]="false" style="margin: -5px;" (change)="checkbox(data)"
              [checked]="isSelected">
              <p style="font-family: K2D;margin: 0px;">{{data.name}}</p>
            </mat-checkbox>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- {{listdataURL|json}} -->
</div>
