.responsive {
  width: 100%;
  max-width: 500;
  height: auto;
}

* {
  font-size: calc(60% + 0.8vmin);
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* for smoother scrolling on iOS */
}

img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  flex: 0 0 auto;
}


img {
  /* ... */
  border: 3px solid transparent;
}

img.selected {
  border-color: blue;
}
